/* NotoSans */
$noto-font-path: '/static/fonts/notosans';
//Thin
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: local("NotoSansKR-Thin"), url("#{$noto-font-path}/NotoSansKR-Thin.woff2") format("woff2"), url("#{$noto-font-path}/NotoSansKR-Thin.woff") format("woff");
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
//DemiLight
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 350;
  src: local("NotoSansKR-DemiLight"), url("#{$noto-font-path}/NotoSansKR-DemiLight.woff2") format("woff2"), url("#{$noto-font-path}/NotoSansKR-DemiLight.woff") format("woff");
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
//Medium
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansKR-Medium"), url("#{$noto-font-path}/NotoSansKR-Medium.woff2") format("woff2"), url("#{$noto-font-path}/NotoSansKR-Medium.woff") format("woff");
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
//Bold
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansKR-Bold"), url("#{$noto-font-path}/NotoSansKR-Bold.woff2") format("woff2"), url("#{$noto-font-path}/NotoSansKR-Bold.woff") format("woff");
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
/* Roboto */
$roboto-font-path: '/static/fonts/roboto';
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("#{$roboto-font-path}/roboto-light.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-light.woff") format("woff"), url("#{$roboto-font-path}/roboto-light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("#{$roboto-font-path}/roboto-regular.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-regular.woff") format("woff"), url("#{$roboto-font-path}/roboto-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("#{$roboto-font-path}/roboto-medium.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-medium.woff") format("woff"), url("#{$roboto-font-path}/roboto-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("#{$roboto-font-path}/roboto-bold.woff2") format("woff2"), url("#{$roboto-font-path}/roboto-bold.woff") format("woff"), url("#{$roboto-font-path}/roboto-bold.ttf") format("truetype");
}